In [2]:
import random
import math
import pandas as pd

In [3]:
ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(math.floor(n/10)%10!=1)*(n%10<4)*n%10::4])
ordinals = [ordinal(n) for n in range(1,27)]

In [4]:
nums = random.sample(range(1, 27),26)
nums.sort()

In [5]:
Dict = {
    'Numbers': nums,
    'Ordinals': ordinals
}

In [6]:
df = pd.DataFrame(Dict).set_index('Numbers', drop = True).head()
df.head()

        Ordinals
Numbers
1            1st
2            2nd
3            3rd
4            4th
5            5th

In [7]:
df.dtypes

Ordinals    object
dtype: object